I'm a developer trying to build something useful. Get in touch on harmaarts#gmail.com.

<h2>Privacy</h2>
<ul>
  <li>I won't ever sent you mail other than the one required when using this service.</li>
  <li>I won't ever give/sell your email address to anyone.</li>
</ul>
<h2>How does it work?</h2>
The software is written in <a href="http://golang.org">Go</a> and runs on <a
  href="http://code.google.com/appengine/">Google App Engine</a>. I'm using <a
  href="http://random.org">Random.org</a> to make the coin toss absolutely
random.
