<form name="cointoss" action="/create" method="POST">
    <ol id="options">
        <li><label for="head">Head</label><input name="head" id="head" type="text"></li>
        <li><label for="tail">Tail</label><input name="tail" id="tail" type="text"></li>
    </ol>
    <fieldset>
        <legend>Your friends</legend>
        <ol id="friends">
            <li><label>Email Friend</label><input name="friends[]" type="email"></li>
            <li><label>Email Friend</label><input name="friends[]" type="email"></li>
            <li><label>Email Friend</label><input name="friends[]" type="email"></li>
            <li><label>Email Friend</label><input name="friends[]" type="email"></li>
        </ol>
    </fieldset>
    <input name='submit' type='submit' value='submit'>
</form>
<p class="status">So far {{nr_of_flips}} coins flipped!</p>
